<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain Competition</title>
</head>
<body>
    <div>
        <div>
            
        </div>
    </div>
    <form id="formElem">
        <input type="text" name="author" value="">
        <input type="text" name="content" value="">
        <input type="submit">
    </form>
    <script>
        var xhr = new XMLHttpRequest();
        var url = "/new_transaction";
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 201) {
                var json = JSON.parse(xhr.responseText);
                console.log(json);
            }
        };
        var data = JSON.stringify({"author": "Eto", "content": "anime"});
        xhr.send(data);
    </script>
</body>
</html>